<ul class="thumbnails">
  <li class="span2">
    <div class="thumbnail">
      <%= link_to (image_tag "kanak.jpeg"), "http://stanford.edu/~kanak/cv.html" %>
      <h5 style="text-align: center; margin-top: 0px;">Kanak Biscuitwala</h5>
    </div>
  </li>
  </li>
  <li class="span2">
    <div class="thumbnail">
      <%= link_to (image_tag "mathias.png"), "http://mathias.lecuyer.me" %>
      <h5 style="text-align: center; margin-top: 0px;">Mathias Lécuyer</h5>
    </div>
  </li>
  <li class="span2">
    <div class="thumbnail">
      <%= link_to (image_tag "TJ.jpg"), "https://plus.google.com/118248804586039445285/posts" %>
      <h5 style="text-align: center; margin-top: 0px;">T.J. Purtell</h5>
    </div>
  </li>
  <li class="span2">
    <div class="thumbnail">
      <%= link_to (image_tag "susan.png"), "http://www.journalism.columbia.edu/profile/365-susan-e-mcgregor/10" %>
      <h5 style="text-align: center; margin-top: 0px;">Susan McGregor</h5>
    </div>
  </li>
  <li class="span2">
    <div class="thumbnail">
      <%= link_to (image_tag "augustin.jpg"), "http://www.cs.columbia.edu/~augustin/" %>
      <h5 style="text-align: center; margin-top: 0px;">Augustin Chaintreau</h5>
    </div>
  </li>

  <li class="span8">
    <div class="thumbnail">
      <h2>The Dispatch team</h2>
      <p>We are a mixed team of journalists and computer scientists from Columbia and Stanford University, also working with Tumblr as a publishing platform.<br>
	  The students are:<br></p>
		<dl class="dl-horizontal">
		<DT>Kanak Biscuitwala
		<DD>CS - Stanford
		<DT>Mathias Lécuyer
		<DD>CS - Columbia
		<DT>T.J. Purtell
		<DD>CS - Stanford
		<DT>Journalism student
		<DD>Journalism - Columbia (yet to be determined)
		</dl>
	  <p>Advised by:<br></p></p>
		<dl class="dl-horizontal">
		<DT>Susan McGregor
		<DD>Journalism school - Columbia
		<DT>Monica Lam
		<DD>CS - Stanford
		<DT>Augustin Chaintreau
		<DD>CS - Columbia
		<DT>Chris Haseman
		<DD>Tumblr
		</dl>
	  <p>You can click on the pictures to see people's personal websites.<br> </p>
    </div>

  <li class="span2">
    <div class="thumbnail">
      <%= link_to (image_tag "monica-lam.jpg"), "http://suif.stanford.edu/~lam/" %>
      <h5 style="text-align: center; margin-top: 0px;">Monica Lam</h5>
    </div>
  </li>
  <li class="span2">
    <div class="thumbnail">
      <%= link_to (image_tag "chris.png"), "http://haseman.tumblr.com/" %>
      <h5 style="text-align: center; margin-top: 0px;">Chris Haseman</h5>
    </div>
  </li>
</ul>
